/* 여기서 부터 css문법 적용 */
    /* 먼저 선택할 태그나 선택자 */
    body {
      font-family: "NanumGothic";
      color: blueviolet;
    }

    /* 클래스(.) 셀렉터 */
    /* 클래스가 male 인곳에 적용되었음 */
    .male {
      color: coral;
    }

    .female {
      color: blue;
    }

    /* 일반태그 */
    ul {
      list-style-type: none;
    }

    /* 아이디(#) 선택자 */
    #ceo {
      background-color: darkgoldenrod;
    }